@using FAS.SharedModel
@model FAS.SharedModel.LocationViewModel


@using (Html.BeginForm("CreateLocation", "Company", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
    @Html.AntiForgeryToken()
            <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Setup / Add Location</h4>
        </div>
        <div class="modal-body">
            <div class="nav-tabs-custom">

                <ul class="nav nav-tabs">
                    <li class="active"><a href="#location" data-toggle="tab" aria-expanded="true" style="background: #f4f4f4;">Location Info</a></li>
                    <!--<li><a href="#assets" data-toggle="tab" aria-expanded="false" style="background: #f4f4f4;">Assets</a></li>-->
                </ul>


                <div class="tab-content" style="background: #f4f4f4;">
                    <div class="tab-pane active" id="location">
                        <!-- /.tab-pane start -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-body">
                                        <div class="col-md-12">

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Company Name</label>
                                                    @Html.DropDownListFor(m => m.CompanyID, new SelectList(ViewBag.Company, "CompanyID", "CompanyName"), new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.CompanyID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Location Name</label>
                                                    @Html.EditorFor(model => model.LocationName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.LocationName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Location Code</label>
                                                    @Html.EditorFor(model => model.LocationCode, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.LocationCode, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.RadioButtonFor(m => m.Active, true)  Active
                                                    @Html.RadioButtonFor(m => m.Active, false)  In Active
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="box">
                                    <div class="box-header" style="border-bottom: 1px solid #e5e5e5;">
                                        <h3 class="box-title">Address</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Address</label>
                                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Address 2</label>
                                                    @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Address 3</label>
                                                    @Html.EditorFor(model => model.Address3, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">City</label>
                                                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">State/Province</label>
                                                    @Html.EditorFor(model => model.State_Province, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Zip/Postal Code</label>
                                                    @Html.EditorFor(model => model.Zip_PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Country</label>
                                                    @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="box">
                                        <div class="box-header" style="border-bottom: 1px solid #e5e5e5;">
                                            <h3 class="box-title">Options</h3>
                                        </div>
                                        <div class="box-body">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Default Unit of Measure</label>
                                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Name">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="checkbox" style="margin-top: 20px;">
                                                        <label>
                                                            <input type="checkbox"> Multiple Sites
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="checkbox" style="margin-top: 20px;">
                                                        <label>
                                                            <input type="checkbox"> Log Balance in History
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                            <div class="col-md-6">
                                <div class="box">
                                    <div class="box-header" style="border-bottom: 1px solid #e5e5e5;">
                                        <h3 class="box-title">Contact Info</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Contact Name</label>
                                                    @Html.EditorFor(model => model.ContactName, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Contact Phone</label>
                                                    @Html.EditorFor(model => model.ContactPhone, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Contact Fax</label>
                                                    @Html.EditorFor(model => model.ContactFax, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Contact Email</label>
                                                    @Html.EditorFor(model => model.ContactEmail, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box">
                                    <div class="box-header" style="border-bottom: 1px solid #e5e5e5;">
                                        <h3 class="box-title">Logo</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <img id="blah" src="#" alt="your image" style="height: 74px;" />
                                                <img class="img-responsive pad" id="blah1" style="height: 74px;" src="~/Content/img/Matrix-AMS-Logo.png" alt="Photo">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-group margin">
                                                    <input type="file" name="file" id="imgInp">
                                                    @Html.HiddenFor(model => model.Logo)
                                                    <img src="@(Model.Logo)" height="100" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- /.tab-pane end -->
                    </div>
                </div>
                <!-- /.tab-content -->

            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" value="create" class="btn btn-primary"><i class="fa fa-save"></i></button>
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i></button>
        </div>
    </div>


    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script>
        $(document).ready(function () {
            console.log("Hello!");
        });

    </script>
}
