@model FAS.SharedModel.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Login.cshtml";
}

<div class="login-box">
    <div class="login-box-body">
        <div class="login-logo">
            <a href="/Login"><img src="~/Content/img/Logo.png" style="width:100%"></a>
        </div>
            @using (Html.BeginForm(new { @class = "form-signin" }))
            {
                <form action="../../index2.html" method="post">
                    <div class="form-group has-feedback text-center">
                        @*<input type="email" class="form-control" placeholder="Username">*@
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "Enter Username", @id = "txtusername" })
                        @Html.ValidationMessageFor(model => model.UserName ,"", new { @style= "color:red; font-weight: 600;" })
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback text-center">
                        @*<input type="password" class="form-control" placeholder="Password">*@
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "password", @placeholder = "Enter Password", @id = "txtpassword" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @style = "color:red; font-weight: 600;" })
                        @Html.ValidationSummary(true,"",new { @style = "color:red; font-weight: 600; list-style: none;" })
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        
                        <!-- /.col -->
                        <div class="col-xs-4 pull-left">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                        </div>
                        <div class="col-xs-6 pull-right">
                            <a href="~/Home/ForgotPassword"  class="btn btn-danger btn-block btn-flat">Forgot Password</a>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            }
            <!-- /.social-auth-links -->
        </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->