<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Matrix AMS | Fixed Asset Solution Ghori</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/bundles/Content")
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/main/js")
</head>    
<body class="hold-transition login-page">
   @RenderBody()
    @Scripts.Render("~/bundles/login/js")
</body>
</html>
